<div class="wrapper">
  <mat-toolbar class="top-menu">
    <a [routerLink]="['/home']"><img class="logo" src="assets/img/logo.png" alt="Logo"></a>

    <div class="menu-row" [ngClass]="{'small': (isSmallScreen$ | async), 'opened': isHamburgerMenuOpened}">
      <a mat-button [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a mat-button [routerLink]="['/static/about']" routerLinkActive="active">About</a>
      <a mat-button [routerLink]="['/products']" routerLinkActive="active">Products</a>
      <a mat-button [routerLink]="['/events']" routerLinkActive="active">Events</a>
      <a mat-button [routerLink]="['/static/contacts']" routerLinkActive="active">Contact Us</a>
    </div>

    <button
      id="mobile-menu-button"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="isSmallScreen$ | async"
      class="hamburger-button"
      (click)="triggerHamburgerMenu()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar>
</div>
