@import "variables"

.top-menu
  position: fixed
  height: 86px
  top: 0
  left: 0
  right: 0
  z-index: 2
  background-color: #fff

  .menu-row
    margin-left: auto

    .active
      color: $app-primary-color

    &.small
      display: none

      &.opened
        display: block
        position: absolute
        left: 0
        top: 86px
        width: 100%
        background-color: #fff

        [mat-button]
          display: block

  .hamburger-button
    margin-left: auto
