<section id="intro">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="banner-text" fxFlex fxHide.xs>
        <div class="info">
          <h2>Inspire</h2>
          <br>
          <h3>for change</h3>
          <p class="sub-slogan">Checkout out Zinzino products!</p>
        </div>
      </div>
      <div class="banner-image" fxFlex="initial">
        <img src="https://via.placeholder.com/375" />
      </div>
    </div>
  </div>
</section>
