<footer class="footer">
  <div class="container" fxLayout="row" fxLayout.xs="column">
    <div class="footer-menu primary" fxFlex>
      <h5>Menu</h5>
      <ul class="regular">
        <li >
          <a [routerLink]="['/home']" routerLinkActive="active">Main</a>
        </li>
        <li>
          <a [routerLink]="['/static/about']" routerLinkActive="active">About</a>
        </li>
        <li >
          <a [routerLink]="['/products']" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a [routerLink]="['/static/contacts']" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu secondary" fxFlex>
      <h5>&nbsp;</h5>
      <ul class="regular">
        <li class="">
          <a href="#">Articles</a>
        </li>
        <li class="">
          <a href="#">Store</a>
        </li>

      </ul>
    </div>
    <div class="footer-col-3" fxFlex>
      <!-- logo -->
      <a class="brand logo" href="/">
        <img src="/assets/img/logo-dark.png" alt="TeamZinzinoUA logo">
      </a>
      <!-- end logo -->
      <div>
        <ul class="social-links" fxLayout="row" fxLayoutAlign="start start">
          <li fxFlex><a href="https://www.facebook.com/teamzinzinoua/" title="Facebook" target="_blank"><mat-icon>book</mat-icon></a></li>
          <li fxFlex><a href="https://drpaulclayton.eu/blog-2/blog/" title="Blog"
                 target="_blank"><mat-icon>face</mat-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="very-bottom">
    <p class="container" id="copyright">
      ©TeamZinzinoUA - All rights reserved
    </p>
  </div>
</footer>
