<div class="container" *ngIf="product">
  <article class="blog-post">
    <div class="post-heading">
      <h3>{{product.fullTitle}}</h3>
    </div>

    <div class="center">
      <img [src]="product.detailImage" [alt]="product.shortTitle" class="image-responsive" />
    </div>

    <div class="row">
      <div class="span8">
        <div class="priceBox special">
          <h4 class="light">{{product.shortTitle}}</h4>
          <hr>
          <span class="emphasis">{{product.price | currency:'EUR'}}</span>
          <hr>
          <span>{{product.slogan}}</span>
          <hr>
          <span class="emphasis-2">
            <button mat-raised-button color="primary">Order</button>
        </span>
        </div>
      </div>
    </div>

    <h2>{{product.fullTitle}}</h2>

    <div [innerHTML]="getDetailTextHtml()"></div>

  </article>
</div>
